<div class="box is-flex is-justify-content-space-between">
  <p class="is-size-5">
    <strong><%= comment.commenter %>:</strong>
    <%= comment.body %>
  </p>
  
    
  <span class="icon mt-1">
    <%= link_to [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-lg fa-trash"></i>
    <% end %>

  </span>
</div>
