<section class="section">
  <h1 class="title is-size-1">Articles</h1>
  <p class="subtitle is-size-4">Our blog has <%= Article.public_count%> 
    <%= Article.public_count == 1? "article" : "articles" %> and counting!</p>
  
  <ul id="articles-list">
    <% @articles.each do |article| %>
      <li class="box is-size-5">
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>
  
</section>
